@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700i&display=swap');
@import "vars";

%font-primary {
    font-weight: 300;
    font-family: 'Merriweather', serif;
    font-size: $font-size-primary;
}

%font-secondary {
    font-weight: 400;
    font-family: 'Merriweather', serif;
}

%font-merriweather-bold {
    font-weight: 700;
    font-family: 'Merriweather', serif;
}


%font-openSans-bold-italic {    
    font-family: 'Open Sans', sans-serif;
}