     // colors

$bg-color: $body-bg;
$corp-color: $orange;
$text-color-primery: $gray-750;
$text-color-light: $gray-550;
$text-color-bottom: $white;
$header-top-border-color: #6f8197;

       // fonts 
$font-size-primary: 14px;
$font-size-small: 12px;
